{
  "extends": "airbnb",
  "env" : {
    "browser": true
  },
  "rules": {
    "max-len": [
      "error",
      {
        "code": 80,
        "comments": 300,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "react/jsx-fragments": 0,
    "react/jsx-no-bind": 0
  }
}