/* A minimalistic, modern CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --menu-height-lg: 170px;
  --menu-height-md: 80px;
  --menu-height-sm: 50px;
}

@font-face {
  font-family: "Gill Sans Nova Light";
  src: url("../../fonts/GillSansNova-Light.woff");
}

@font-face {
  font-family: "Gill Sans Nova SemiBold";
  src: url("../../fonts/GillSansNova-SemiBold.woff");
}

@font-face {
  font-family: "Gill Sans Nova Bold";
  src: url("../../fonts/GillSansNova-Bold.woff");
}

p, a, li, h1, h2 {
  font-family: "Gill Sans Nova Light", "Gill Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

p, li, h1, h2 {
  color: hsl(0, 0%, 20%);
}

/* Browser prefixes did not work when applied via Styled Compoents */
/* fadeIn keyframe rule related to animations in Main */
@keyframes fadeIn {
  0% {
    opacity:0;
  }

  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }

  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }

  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }

  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }

  100% {
    opacity:1;
  }
}