/* A minimalistic, modern CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --menu-height-lg: 170px;
  --menu-height-md: 80px;
  --menu-height-sm: 50px;
}

@font-face {
  font-family: "Gill Sans Nova Light";
  src: url("../../fonts/GillSansNova-Light.woff");
}

@font-face {
  font-family: "Gill Sans Nova SemiBold";
  src: url("../../fonts/GillSansNova-SemiBold.woff");
}

p, a, li, h1, h2 {
  font-family: "Gill Sans Nova Light", "Gill Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

p, li, h1, h2 {
  color: hsl(0, 0%, 20%);
}