/* A minimalistic, modern CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --menu-height: 170px;
}

@font-face {
  font-family: "Gill Sans Nova Light";
  src: url("../../fonts/GillSansNova-Light.woff");
}

p, a, li, h1, h2 {
  font-family: "Gill Sans Nova Light", "Gill Sans", Arial, Helvetica, sans-serif;
}

p, a, a:visited, li, h1, h1 {
  color: hsl(0, 0%, 20%);
}